[Unit]
Description=RCLONE VFS SERVICE
After=network-online.target

[Service]
Type=notify
Environment=RCLONE_CONFIG=%h/.config/rclone/rclone.conf
Environment=RCLONE_CONFIG_PASS=
Environment=GOMAXPROCS=2
TimeoutStopSec=60

ExecStartPre=/usr/bin/sleep 5
ExecStart=/usr/bin/rclone mount gautrang: %h/media/shared-drives/ \
--vfs-cache-mode full \
--vfs-cache-max-size 1000G \
--vfs-disk-space-total-size 0 \
--vfs-read-ahead 128M \
--vfs-fast-fingerprint \
--vfs-cache-max-age 8760h \
--vfs-cache-poll-interval 1m \
--vfs-read-chunk-size 64M \
--vfs-read-chunk-size-limit 1G \
--dir-cache-time 12h \
--buffer-size 256M \
--fast-list \
--use-mmap \
--read-only \
--no-modtime \
--no-checksum \
--poll-interval 0 \
--tpslimit 10 \
--tpslimit-burst 3 \
--bwlimit 0 \
--onedrive-no-versions \
--allow-other \
--allow-non-empty \
--log-level ERROR \
--checkers 4 \
--transfers 4 \
--filter-from %h/.config/rclone/filter.txt \
--log-file %h/.config/rclone/mount.log

ExecStop=/usr/bin/fusermount3 -uz %h/media/shared-drives/
Restart=on-failure
RestartSec=5

[Install]
WantedBy=default.target
