/* -------------------- JELLYFIN DARK THEME -------------------- */
* {
    scrollbar-width: thin;
    scrollbar-color: #3b3b3b #202020;
}

.skinHeader,
html {
    color: #ddd;
    color: rgba(255, 255, 255, 0.8);
}

.wizardStartForm,
.ui-corner-all,
.ui-shadow {
    background-color: #101010;
}

.emby-collapsible-button {
    border-color: #383838;
    border-color: rgba(255, 255, 255, 0.135);
}

.skinHeader-withBackground {
    background-color: #202020;
}

.layout-tv .skinHeader.semiTransparent {
    background: none;
}

.backgroundContainer,
.dialog,
.nowPlayingPlaylist,
.nowPlayingContextMenu,
html {
    background-color: #101010;
}

.backgroundContainer.withBackdrop {
    background-color: rgba(0, 0, 0, 0.86);
}

@media (hover: hover) and (pointer: fine) {
    .paper-icon-button-light:hover:not(:disabled) {
        color: #00a4dc;
        background-color: rgba(0, 164, 220, 0.2);
    }
}

.paper-icon-button-light:active:not(:disabled) {
    color: #00a4dc;
    background-color: rgba(0, 164, 220, 0.2);
}

.paper-icon-button-light.show-focus:focus {
    color: #00a4dc;
}

.fab,
.raised {
    background: #303030;
    color: rgba(255, 255, 255, 0.87);
}

.fab:focus,
.raised:focus {
    background: #383838;
}

.button-submit {
    background: #00a4dc;
    color: #fff;
}

.button-submit:focus {
    background: #0cb0e8;
    color: #fff;
}

.button-delete {
    background: rgb(247, 0, 0);
    color: rgba(255, 255, 255, 0.87);
}

.checkboxLabel {
    color: inherit;
}

.checkboxListLabel,
.inputLabel,
.inputLabelUnfocused,
.paperListLabel,
.textareaLabelUnfocused {
    color: #bbb;
    color: rgba(255, 255, 255, 0.7);
}

.inputLabelFocused,
.selectLabelFocused,
.textareaLabelFocused {
    color: #00a4dc;
}

.checkboxOutline {
    border-color: currentColor;
}

.collapseContent,
.formDialogFooter:not(.formDialogFooter-clear),
.formDialogHeader:not(.formDialogHeader-clear),
.paperList,
.visualCardBox {
    background-color: #202020;
}

.layout-tv .formDialogFooter:not(.formDialogFooter-clear) {
    background-color: transparent;
}

.defaultCardBackground1 {
    background-color: #00455c;
}

.defaultCardBackground2 {
    background-color: #44bae1;
}

.defaultCardBackground3 {
    background-color: #00a4db;
}

.defaultCardBackground4 {
    background-color: #1c4c5c;
}

.defaultCardBackground5 {
    background-color: #007ea8;
}

.cardText-secondary,
.fieldDescription,
.guide-programNameCaret,
.listItem .secondary,
.nowPlayingBarSecondaryText,
.programSecondaryTitle,
.secondaryText {
    color: #999;
    color: rgba(255, 255, 255, 0.5);
}

.actionsheetDivider {
    background: #444;
    background: rgba(255, 255, 255, 0.14);
}

.cardFooter-vibrant .cardText-secondary {
    color: inherit;
    opacity: 0.5;
}

.toast {
    background: #303030;
    color: #fff;
    color: rgba(255, 255, 255, 0.87);
}

.appfooter,
.playlistSectionButton {
    background: #202020;
    color: #ccc;
    color: rgba(255, 255, 255, 0.78);
}

.itemSelectionPanel {
    border: 1px solid #00a4dc;
}

.selectionCommandsPanel {
    background: #00a4dc;
    color: #fff;
}

.upNextDialog-countdownText {
    color: #00a4dc;
}

.alphaPickerButton {
    color: #999;
    color: rgba(255, 255, 255, 0.5);
    background-color: transparent;
}

.alphaPickerButton-selected {
    color: #fff;
}

.alphaPickerButton-tv:focus {
    background-color: #00a4dc;
    color: #fff !important;
}

.detailTableBodyRow-shaded:nth-child(even) {
    background: #1c1c1c;
    background: rgba(30, 30, 30, 0.9);
}

.detailRibbon {
    background: rgba(32, 32, 32, 0.8);
}

.layout-tv .detailRibbon {
    background: none;
}

.listItem-border {
    border-color: rgba(34, 34, 34, 0.9) !important;
}

.listItem:focus {
    background: #333;
}

.listItem:hover {
    background: #242424;
}

.progressring-spiner {
    border-color: #00a4dc;
}

.button-flat:hover {
    color: #00a4dc;
}

.button-link {
    color: #00a4dc;
}

.mediaInfoText {
    color: #ddd;
    background: rgba(170, 170, 190, 0.2);
}

.emby-input,
.emby-textarea {
    color: inherit;
    background: #292929;
    border: 0.16em solid #292929;
    border-radius: 0.2em;
}

.emby-input:focus,
.emby-textarea:focus {
    border-color: #00a4dc;
}

.emby-select-withcolor {
    color: inherit;
    background: #292929;
    border: 0.07em solid #292929;
}

.emby-select-withcolor > option {
    color: inherit;
    background: #222;
}

.emby-select-withcolor:focus {
    border-color: #00a4dc !important;
}

.emby-select-tv-withcolor:focus {
    background-color: #00a4dc !important;
    color: #fff !important;
}

.emby-checkbox:checked + span + .checkboxOutline {
    border-color: #00a4dc;
}

.emby-checkbox:focus + span + .checkboxOutline {
    border-color: #fff;
}

.emby-checkbox:checked + span + .checkboxOutline,
.itemProgressBarForeground {
    background-color: #00a4dc;
}

.emby-checkbox:focus:not(:checked) + span + .checkboxOutline {
    border-color: #00a4dc;
}

.itemProgressBarForeground-recording {
    background-color: #cb272a;
}

.countIndicator,
.fullSyncIndicator,
.mediaSourceIndicator,
.playedIndicator {
    background: #00a4dc;
}

.fullSyncIndicator {
    color: #fff;
}

.mainDrawer,
.drawer-open {
    background-color: #101010;
}

.navMenuOption:hover {
    background: #252528;
}

.navMenuOption-selected {
    background: #00a4dc !important;
    color: #fff;
}

.emby-button.show-focus:focus {
    background: #00a4dc;
    color: #fff;
}

.emby-tab-button {
    color: #999;
}

.emby-tab-button-active {
    color: #fff;
}

.emby-tab-button.show-focus:focus {
    color: #00a4dc;
}

.emby-tab-button:hover {
    color: #00a4dc;
}

.channelPrograms,
.guide-channelHeaderCell,
.programCell {
    border-color: rgba(255, 255, 255, 0.05);
}

.programCell-sports {
    background: #3949ab !important;
}

.programCell-movie {
    background: #5e35b1 !important;
}

.programCell-kids {
    background: #039be5 !important;
}

.programCell-news {
    background: #43a047 !important;
}

.programCell-active {
    background: #1e1e1e !important;
}

.guide-channelHeaderCell:focus,
.programCell:focus {
    background-color: #00a4dc !important;
    color: #fff !important;
}

.guide-programTextIcon {
    color: #1e1e1e;
    background: #555;
}

.guide-headerTimeslots {
    color: inherit;
}

.guide-date-tab-button {
    color: #555;
    color: rgba(255, 255, 255, 0.3);
}

.guide-date-tab-button.emby-tab-button-active,
.guide-date-tab-button:focus {
    color: #00a4dc;
}

.guide-date-tab-button.show-focus:focus {
    background-color: #00a4dc;
    color: #fff;
}

.infoBanner {
    color: #ddd;
    background: #111;
    padding: 1em;
    border-radius: 0.25em;
}

.ratingbutton-icon-withrating {
    color: #c33;
}

.downloadbutton-icon-complete,
.downloadbutton-icon-on {
    color: #4285f4;
}

.playstatebutton-icon-played {
    color: #c33;
}

.buttonActive {
    color: #00a4dc !important;
}

.card:focus .cardBox.visualCardBox,
.card:focus .cardBox:not(.visualCardBox) .cardScalable {
    border-color: #00a4dc !important;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-track-piece {
    background-color: #3b3b3b;
}

.layout-desktop ::-webkit-scrollbar,
.layout-tv ::-webkit-scrollbar {
    width: 0.4em;
    height: 0.4em;
}

::-webkit-scrollbar-thumb:horizontal,
::-webkit-scrollbar-thumb:vertical {
    border-radius: 2px;
    background: center no-repeat #888;
}

.timeslotHeaders-desktop::-webkit-scrollbar {
    height: 0.7em;
}

.metadataSidebarIcon {
    color: #00a4dc;
}

.emby-button.detailFloatingButton {
    background-color: #00a4dc;
    color: #fff;
}

.layout-tv .emby-button.detailFloatingButton:focus {
    background-color: #f2f2f2;
    color: #00a4dc;
}

#comicsPlayer,
#bookPlayer,
#pdfPlayer {
    background: #101010;
}

#comicsPlayer .swiper-pagination {
    background: #101010;
    color: #fff;
}

#bookPlayer .topButtons {
    color: #fff;
}

#comicsPlayer .actionButtonIcon,
#pdfPlayer .actionButtonIcon {
    color: #fff;
}

#dialogToc {
    background-color: #101010;
}

#dialogToc .bookplayerButtonIcon {
    color: #ccc;
}

#dialogToc .bookplayerButtonIcon:hover {
    color: #00a4dc;
}

#dialogToc .toc li a:link {
    color: #ccc;
}

#dialogToc .toc li a:active,
#dialogToc .toc li a:hover {
    color: #00a4dc;
}

/* -------------------- ULTRACHROMIC THEME -------------------- */

/* Base css */
.chapterThumb,
.chapterThumbContainer {
    box-shadow: 0 0 1.9vh #000;
}

:root {
    --indicator: 0, 164, 220;
    --selection: 0, 164, 220;
}

.card.show-animation:focus > .cardBox {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

div[data-role="controlgroup"] a.ui-btn-active {
    background: rgba(0, 0, 0, 0.5) !important;
    color: #fff !important;
}

div[data-role="controlgroup"] a[data-role="button"] {
    display: table-cell !important;
    margin: 0 !important;
}

.layout-mobile .detailPagePrimaryContainer {
    background: 0 0;
}

.layout-mobile .adminDrawerLogo {
    border-bottom: none;
}

.layout-mobile .itemBackdrop {
    margin-top: 4rem;
}

.headerTabs.sectionTabs {
    text-size-adjust: 110%;
    font-size: 110%;
    margin-top: 0;
}

.pageTitle {
    margin-top: auto;
    margin-bottom: auto;
}

.progressring-spiner {
    border-color: rgba(var(--accent));
    border-width: 0.35em;
}

.progressring {
    margin: 0.4em;
}

.progressring-bg {
    display: none;
}

#itemDetailPage .button-link {
    color: inherit !important;
}

.cardIndicators,
.listItemIndicators {
    right: 0.5em;
    top: 0.5em;
}

.mediaSourceIndicator {
    display: none;
    left: 0.5em;
    top: 0.5em;
}

.nowPlayingPageImage {
    border: none;
}

.upNextDialog-countdownText {
    color: #fff;
}

.chapterThumb {
    height: 14vh;
    min-width: 14vh;
}

.chapterThumbText {
    font-size: 1em;
}

.sliderBubble {
    background: #0000;
    -webkit-transform: translate3d(-50%, -108%, 0);
    transform: translate3d(-50%, -108%, 0);
}

.chapterThumbTextContainer {
    right: auto;
    bottom: 4px;
    padding: 0.25em 0.7em;
}

.cardBox-bottompadded {
    margin-bottom: 0.6em !important;
}

.raised.homeLibraryButton {
    background: rgba(0, 0, 0, 0.3) !important;
    transition: filter 0.2s;
}

.raised.homeLibraryButton:hover {
    background: rgba(0, 0, 0, 0.5) !important;
    transition: filter 0.2s;
}

.homeLibraryButton {
    min-width: 12em;
    margin: 0.4em;
    width: auto !important;
}

.listItem:hover {
    transition: 0.2s;
    background: rgba(0, 0, 0, 0.4);
}

.cardImageContainer,
.visualCardBox {
    box-shadow: none;
}

.backgroundProgress > div {
    background: rgba(0, 0, 0, 0);
}

.itemProgressBar {
    background: rgba(0, 0, 0, 0.25);
}

#divRunningTasks span {
    color: rgba(255, 255, 255, 0.75) !important;
}

.itemsContainer > .card > .cardBox {
    margin-left: 0.6em !important;
    margin-right: 0.8em;
}

.button-flat:hover {
    background: rgba(0, 164, 220, 0.2);
    color: #00a4dc !important;
}

.dashboardSection h3 {
    margin: 0.5em 0 0.5em 0.5em;
}

.dashboardSection .sectionTitleTextButton > .material-icons.material-icons {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-right: 0.2em;
}

.starIcon {
    color: rgba(255, 255, 255, 0.8);
}

.listItemIcon {
    background: #0000 !important;
}

.listItem-border {
    border-color: rgba(255, 255, 255, 0) !important;
}

.formDialogFooter-clear,
.formDialogHeader-clear,
.innerCardFooterClear {
    background-color: transparent !important;
}

/* Color and style changes for  dark theme */
:root {
    --selection: 120, 120, 120;
}

.itemProgressBarForeground,
.transcodingProgress > div {
    background-color: rgba(255, 255, 255, 0.3);
}

.playbackProgress > div {
    background-color: rgba(255, 255, 255, 0.75);
}

.backgroundContainer.withBackdrop {
    background-color: rgba(0, 0, 0, 0);
}

#user_usage_report_table,
.detailTable {
    background: rgba(0, 0, 0, 0.5);
}

.detailTableBodyRow-shaded {
    background: #0000 !important;
}

.infoBanner {
    background: #101010;
}

.navMenuOptionText {
    margin-top: 0;
}

.backgroundProgress > div {
    background-color: #0000;
}

.cardImageContainer,
.countIndicator,
.visualCardBox {
    box-shadow: none;
}

.mdl-switch__input:checked
+ .mdl-switch__label
+ .mdl-switch__trackContainer
> .mdl-switch__track {
    background: rgba(120, 120, 120, 0.6);
}

.mdl-switch__input:checked
+ .mdl-switch__label
+ .mdl-switch__trackContainer
> .mdl-switch__thumb {
    background: #fff;
}

.dashboardSection h3 {
    margin-left: 0.5em;
}

.sessionCardFooter {
    border: none;
}

.paperList,
.visualCardBox {
    background-color: rgba(0, 0, 0, 0.5);
}

.listItem-border {
    border-color: rgba(255, 255, 255, 0) !important;
}

fieldset {
    border: 1px solid rgba(40, 40, 40, 0.8);
    border-radius: 0.4em;
}

.layout-desktop .detailRibbon {
    background: rgba(0, 0, 0, 0) !important;
}

.appfooter {
    background: rgba(0, 0, 0, 0);
}

.taskProgressOuter,
progress {
    background: rgba(0, 0, 0, 0.5) !important;
    border: 1px solid rgba(255, 255, 255, 0.22);
}

.button-flat:hover {
    background: rgba(0, 0, 0, 0.4);
}

progress::-webkit-progress-bar {
    background: rgba(0, 0, 0, 0.5) !important;
    border: 0 solid rgba(255, 255, 255, 0.22);
}

progress::-moz-progress-bar {
    background-color: rgba(255, 255, 255, 0.75);
}

progress::-webkit-progress-value {
    background-color: rgba(255, 255, 255, 0.75);
}

#divRunningTasks span,
#scheduledTasksPage span {
    color: rgba(255, 255, 255, 0.75) !important;
}

.taskProgressInner {
    background: rgba(255, 255, 255, 0.75) !important;
}

.countIndicator,
.innerCardFooter,
.playedIndicator {
    background: rgba(0, 0, 0, 0.4);
    box-shadow: none;
}

.subtitleappearance-preview {
    background: linear-gradient(140deg, #444, #111) !important;
}

.blurhash-canvas {
    filter: opacity(60%) saturate(60%);
}

.mainDrawer {
    background-color: rgba(0, 0, 0, 0.8);
}

.fab,
.raised,
a[data-role="button"] {
    background: rgba(40, 40, 40, 0.8) !important;
    transition: 0.2s !important;
}

.actionSheetMenuItem:hover,
.fab:hover,
.navMenuOption:hover,
.raised:hover {
    background: rgba(80, 80, 80, 0.8) !important;
}

.paper-icon-button-light:hover {
    background-color: rgba(0, 0, 0, 0.4) !important;
}

.headerHomeButton:hover {
   background-color: #fff !important; 
}

.navMenuOption-selected,
.selectionCommandsPanel {
    background: #101010 !important;
}

.button-flat:hover,
.button-link,
.buttonActive,
.emby-tab-button:hover,
.inputLabelFocused,
.paper-icon-button-light:hover,
.paper-icon-button-light:hover:not(:disabled),
.playstatebutton-icon-played,
.raised.homeLibraryButton:hover,
.ratingbutton-icon-withrating,
.selectLabelFocused,
.textareaLabelFocused {
    color: rgba(120, 120, 120, 0.6) !important;
}

.syncPlayIconCircle {
    color: #fff !important;
    text-shadow: none !important;
}

::-webkit-scrollbar-track-piece {
    background-color: #0000;
}

::-webkit-scrollbar-corner {
    background-color: #0000;
}

::-webkit-scrollbar-thumb {
    background: rgba(120, 120, 120, 0.6) !important;
    border-radius: var(--rounding);
}

* {
    scrollbar-color: rgba(120, 120, 120, 0.6) #0000 !important;
}

.defaultCardBackground1 {
    background-color: #0a0a0a;
}

.defaultCardBackground2 {
    background-color: #141414;
}

.defaultCardBackground3 {
    background-color: #212121;
}

.defaultCardBackground4 {
    background-color: #333;
}

.defaultCardBackground5 {
    background-color: #666;
}


/* Floating progress bar */
.innerCardFooterClear,
.innerCardFooterClear {
    background-color: transparent !important;
    box-shadow: none;
}
.itemProgressBarForeground,
.itemProgressBarForeground,
.itemProgressBar,
.itemProgressBar {
    border-radius: var(--rounding);
}
.itemProgressBarForeground,
.itemProgressBarForeground {
    background-color: rgba(var(--accent), 0.95) !important;
}
.itemProgressBar,
.itemProgressBar {
    height: 6px;
    background: rgba(0, 0, 0, 0.1);
    margin: 0.5em 0.8em;
    backdrop-filter: blur(1em);
    -webkit-backdrop-filter: blur(1em);
}

/* Tweak entry fields, checkmarks, thin borders dark highlight */
.emby-input,
.emby-textarea {
    padding: 0.4em 0.55em;
}

.emby-select {
    padding: 0 2em 0 0.5em !important;
}

.emby-select[disabled] {
    padding: 0 !important;
}

.selectArrow {
    margin-top: 1.05em;
}

.checkboxOutline,
.emby-input,
.emby-select-withcolor,
.emby-textarea {
    background: rgba(0, 0, 0, 0.2);
    border: 0.01em solid rgba(255, 255, 255, 0.22);
}

.emby-checkbox:checked + span + .checkboxOutline,
.emby-input:focus,
.emby-select-withcolor:focus,
.emby-textarea:focus,
.itemSelectionPanel {
    border: 0.01em solid rgba(var(--selection), 0.8) !important;
}

.emby-input:focus,
.emby-select-withcolor:focus,
.emby-textarea:focus {
    background: rgba(0, 0, 0, 0.4) !important;
}

.emby-checkbox:checked + span + .checkboxOutline {
    background-color: rgba(0, 0, 0, 0.4) !important;
}

.taskProgressOuter,
progress {
    background: rgba(0, 0, 0, 0.5) !important;
    border: 1px solid rgba(255, 255, 255, 0.22);
}

progress::-webkit-progress-bar {
    background: rgba(0, 0, 0, 0.5) !important;
    border: 0 solid rgba(255, 255, 255, 0.22);
}

progress::-moz-progress-bar {
    background-color: rgba(255, 255, 255, 0.75);
}

progress::-webkit-progress-value {
    background-color: rgba(255, 255, 255, 0.75);
}

#divRunningTasks span,
#scheduledTasksPage span {
    color: rgba(255, 255, 255, 0.75) !important;
}

.taskProgressInner {
    background: rgba(255, 255, 255, 0.75) !important;
}

/* Size episode preview images in a more compact way */
.listItemImage.listItemImage-large.itemAction.lazy {
    transition: filter 0.2s;
}

.listItemImageButton-icon {
    padding: 0;
}

.secondary.listItem-overview.listItemBodyText {
    height: 61px;
    margin: 0;
    white-space: nowrap;
    line-height: 3vh;
}

/* Rounded corners on pretty much everything */
.osdPoster img,
fieldset,
progress {
    border-radius: var(--rounding);
}

progress::-webkit-progress-bar {
    border-radius: var(--rounding);
}

progress::-moz-progress-bar {
    border-radius: var(--rounding);
}

progress::-webkit-progress-value {
    border-radius: var(--rounding);
}

.blurhash-canvas,
.button-flat,
.cardContent,
.cardContent-button,
.cardContent-shadow,
.cardImage,
.cardImageContainer,
.cardOverlayContainer,
.cardPadder,
.chapterThumb,
.chapterThumbContainer,
.chapterThumbTextContainer,
.checkboxOutline,
.countIndicator,
.mediaSourceIndicator,
.detailTable,
.dialog,
.emby-input,
.emby-select-withcolor,
.emby-textarea,
.fab,
.headerButton,
.innerCardFooter,
.itemDetailImage,
.itemSelectionPanel,
.listItem-border,
.listItem:hover,
.listItemButton,
.listItemIcon,
.listItemImage,
.missingIndicator,
.multiSelectCheckboxOutline,
.nowPlayingPageImage,
.paperList,
.playedIndicator,
.primaryImageWrapper > img,
.raised,
.sessionNowPlayingInnerContent,
.taskProgressInner,
.taskProgressOuter,
.toast,
.unairedIndicator,
.upNextContainer,
.upNextDialog-poster-img,
.visualCardBox {
    border-radius: var(--rounding) !important;
}

.listItemImageButton {
    border-radius: 50%;
}

.formDialogHeader {
    border-top-left-radius: var(--rounding);
    border-top-right-radius: var(--rounding);
}

.formDialogFooter {
    border-bottom-left-radius: var(--rounding);
    border-bottom-right-radius: var(--rounding);
}

.actionSheetMenuItem:hover {
    border-radius: 0 !important;
}

.osdPoster img {
    border: none;
}

.mdl-slider::-moz-range-thumb {
    border-radius: var(--rounding);
}

.mdl-slider::-ms-thumb {
    border-radius: var(--rounding);
}

.mdl-slider::-webkit-slider-thumb {
    border-radius: var(--rounding);
}

div[data-role="controlgroup"] a[data-role="button"]:first-child {
    border-bottom-left-radius: var(--rounding);
    border-top-left-radius: var(--rounding);
}

div[data-role="controlgroup"] a[data-role="button"]:last-child {
    border-bottom-right-radius: var(--rounding);
    border-top-right-radius: var(--rounding);
}

#dashboardPage .cardContent,
#dashboardPage .sessionNowPlayingInnerContent,
#divVirtualFolders .cardContent,
#divVirtualFolders .cardImageContainer,
#userProfilesPage .cardContent,
#userProfilesPage .cardImage {
    border-radius: var(--rounding) var(--rounding) 0 0 !important;
}

/* Shrink and square (or round) cast thumnails */
.cardPadder {
    background-color: #0000 !important;
    box-shadow: none !important;
}

/* Accent list */
.emby-button.show-focus:focus,
.fab:hover,
.raised:hover,
a[data-role="button"]:hover {
    background: rgba(var(--accent), 0.5) !important;
}
.button-flat:hover,
.button-link,
.buttonActive,
.emby-tab-button:hover,
.inputLabelFocused,
.paper-icon-button-light.show-focus:focus,
.paper-icon-button-light:hover,
.paper-icon-button-light:hover:not(:disabled),
.playstatebutton-icon-played,
.raised.homeLibraryButton:hover,
.ratingbutton-icon-withrating,
.selectLabelFocused,
.textareaLabelFocused,
button-flat:hover {
    color: rgba(var(--accent)) !important;
}

.subtitleappearance-preview {
    background: linear-gradient(140deg, rgb(var(--accent)), #111) !important;
}

.navMenuOption-selected,
.upNextDialog-countdownText {
    color: rgba(var(--accent));
}

.mdl-slider-background-lower {
    background-color: rgba(var(--accent));
}

progress::-moz-progress-bar {
    background-color: rgba(var(--accent), 0.75);
}

progress::-webkit-progress-value {
    background-color: rgba(var(--accent), 0.75);
}

.taskProgressInner {
    background: rgba(var(--accent), 0.75) !important;
}

#dashboardPage .playbackProgress > div {
    background-color: rgba(var(--accent), 0.75) !important;
}

#dashboardPage .transcodingProgress > div {
    background-color: rgba(var(--accent), 0.35) !important;
}

.mdl-slider-background-lower {
    background-color: rgb(var(--accent));
}

.mdl-slider::-moz-range-thumb {
    background: rgb(var(--accent));
}

.mdl-slider::-ms-thumb {
    background: rgb(var(--accent));
}

.mdl-slider::-webkit-slider-thumb {
    background: rgb(var(--accent));
}

.iconOsdProgressInner {
    background: rgb(var(--accent));
}

#itemDetailPage .button-link {
    color: inherit !important;
}

.actionSheetMenuItem:hover,
.navMenuOption:hover {
    background-color: rgba(var(--accent), 0.5) !important;
}

.emby-checkbox:checked + span + .checkboxOutline,
.emby-input:focus,
.emby-select-withcolor:focus,
.emby-textarea:focus,
.itemSelectionPanel {
    border: 0.01em solid rgba(var(--accent), 0.5) !important;
}

#dialogToc .bookplayerButtonIcon:hover,
#dialogToc .toc li a:active,
#dialogToc .toc li a:hover,
.button-flat:hover,
.button-link,
.emby-tab-button.show-focus:focus,
.emby-tab-button:hover,
.guide-date-tab-button.emby-tab-button-active,
.guide-date-tab-button:focus,
.inputLabelFocused,
.metadataSidebarIcon,
.paper-icon-button-light.show-focus:focus,
.selectLabelFocused,
.textareaLabelFocused,
.upNextDialog-countdownText,
.button-accent-flat {
    color: rgba(var(--accent));
}

.mdl-switch__input:checked
+ .mdl-switch__label
+ .mdl-switch__trackContainer
> .mdl-switch__track {
    background: rgba(var(--accent), 0.5);
}

.mdl-switch__input:checked
+ .mdl-switch__label
+ .mdl-switch__trackContainer
> .mdl-switch__thumb {
    background: rgba(var(--accent));
}

::-webkit-scrollbar-thumb {
    background: rgba(var(--accent), 0.8) !important;
}

* {
    scrollbar-color: rgba(var(--accent), 0.8) #0000 !important;
}

.syncPlayIconCircle {
    color: rgba(var(--accent), 1) !important;
    text-shadow: none !important;
}

/* Accent color */
:root {
    --accent: 255, 160.99, 0;
}

.backdropImage {
    filter: blur(18px);
}

.backdropImage {
    filter: saturate(120%);
}

.backdropImage {
    filter: contrast(120%);
}

.backdropImage {
    filter: brightness(40%);
}

:root {
    --rounding: 12px;
}

/* -------------------- JELLYFLIX THEME -------------------- */

/* -------------------- TITLE SCREEN -------------------- */

.itemBackdrop {
    height: 100vh;
    z-index: 0;
    position: absolute;
    background-position: top right;
    right: 0;
    width: 70vw;
    background-size: cover;
    mask-image: linear-gradient(to right, #0000, #000 50%), linear-gradient(to top, #0000, #000 50%);
    -webkit-mask-image: linear-gradient(to right, #0000, #000 50%), linear-gradient(to top, #0000, #000 50%);
    mask-composite: intersect;

}

.layout-mobile .itemBackdrop {
    width: 100vw;
    height: 400px;
    mask-image: linear-gradient(to bottom, #0005, #000), linear-gradient(to top, #0005, #000);
    -webkit-mask-image: linear-gradient(to bottom, #0005, #000), linear-gradient(to top, #0005, #000);
}

.layout-mobile .detailPagePrimaryContent,
.layout-mobile .itemMiscInfo {
    max-width: 100vw;
}

.itemBackdrop::after {
    display: none !important;
}

.detailPageWrapperContainer {
    display: block;
    height: auto;
    backdrop-filter: blur(0.4em);
    -webkit-backdrop-filter: blur(0.4em);
}

.detailLogo {
    display: block;
    position: relative;
    right: 0;
    top: 0;
    width: 40vw;
    left: 5vw;
    height: 25vh;
}

.layout-mobile .detailLogo {
    width: 80vw;
    margin: 0 auto;
    left: 0;
}

.itemDetailPage {
    display: flex;
    flex-direction: column;
}

:not(.hide) + .detailPagePrimaryContainer .parentName,
:not(.hide) + .detailPagePrimaryContainer .parentNameLast,
:not(.hide) + .detailPagePrimaryContainer .parentName > *,
:not(.hide) + .detailPagePrimaryContainer .parentNameLast > * {
    display: none;
}

.hide + .detailPageWrapperContainer .parentName,
.hide + .detailPageWrapperContainer .parentNameLast,
.hide + .detailPageWrapperContainer .itemName {
    display: block !important;
    text-align: center;
    white-space: normal;
    word-wrap: anywhere;
}

.parentNameLast {
    margin: 0.5em 0 !important;
}

/* -------------------- CUSTOM THEME -------------------- */

/* -------------------- NAV BAR -------------------- */

button > .material-icons.home {
    background-image: url(../assets/img/icon.png);
    width: 30px;
    height: 30px;
    background-size: cover;
}

button > .material-icons.home::before {
    content: '';
}

.skinHeader.skinHeader-withBackground,
.mainDrawer {
    background: rgba(40, 40, 40, 0.5);
    backdrop-filter: blur(1em) !important;
    -webkit-backdrop-filter: blur(1em) !important;
}

.navMenuOption, .sidebarHeader {
    /* font-size: 150%; */
    font-weight: bold;
}

.mainDrawer {
    padding-top: 2em;
}

/* -------------------- CONTEXT MENU -------------------- */
.listItem {
    padding: 0.1em !important;
    border-radius: 0.5em !important;
}

.actionSheet {
    background: transparent;
    -webkit-backdrop-filter: blur(1.5em);
    backdrop-filter: blur(1.5em);
    margin-top: -2em !important;
}

.actionsheetListItemBody {
    padding: 0.1em 1em 0.1em 0.1em !important;
}

/* -------------------- CHANGE COLOR -------------------- */

/* Empty poster */
.defaultCardBackground1,
.defaultCardBackground2,
.defaultCardBackground3,
.defaultCardBackground4,
.defaultCardBackground5 {
    background-color: #101010;
}

/* Movie indicator */
.countIndicator,
.fullSyncIndicator,
.mediaSourceIndicator,
.playedIndicator {
    background: rgba(16, 16, 16, 0.5);
    font-size: 150%;
    font-weight: bold;
    box-shadow: none;
}
.playedIndicator.indicator {
    color: #ffa100;
}
.layout-mobile .listItemImage .mediaSourceIndicator {
    display: none;
}

/* Check box */
.emby-checkbox:checked + span + .checkboxOutline,
.emby-input:focus,
.emby-textarea:focus,
.emby-select-withcolor:focus,
.itemSelectionPanel {
    background: rgba(0, 0, 0, 0.25) !important;
}

.checkboxIcon {
    color: rgba(var(--accent), 1);
}

/* Button on hover */
.raised:hover,
.fab:hover,
a[data-role="button"]:hover {
    background: rgba(var(--accent), 0.8) !important;
}

.button-flat:hover {
    background: rgba(var(--accent), 0.2);
}

/* Now playing bar */
.nowPlayingBarTop {
    background: rgba(40, 40, 40, 0.75);
    backdrop-filter: blur(1em);
    -webkit-backdrop-filter: blur(1em);
}

/* Change Username Header */
.sectionTitle.headerUsername {
    font-family: "Bungee", sans-serif;
    color: #ffa100;
    font-weight: bold;
}

/* -------------------- FIXES -------------------- */

/* Add fixes, start of file */

/* Media player */
.startTimeText,
.endTimeText {
    width: 3.4em;
    display: block;
    text-align: center;
}

.osdTitle {
    margin-left: 0.5em;
}

.videoOsdBottom {
    padding-top: 1em;
}

.skinHeader-withBackground.osdHeader {
    height: 5em;
}

/* Fix weird shevron off centering */
.layout-mobile :not(.sectionTitleContainer-cards) > .sectionTitle-cards {
    padding-top: 0;
}

.sectionTitle {
    margin-left: 0.4em !important;
    margin-top: 0.2em !important;
    margin-bottom: 0.2em !important;
}

.sectionTitleTextButton > .material-icons {
    margin: 0;
}

.layout-mobile .sectionTitleTextButton > .material-icons {
    padding-top: 0.2em;
}

/* Fix the UI shifting around */
.nowPlayingBarCurrentTime {
    width: 6em;
}

.osdTextContainer {
    margin: 0 !important;
    margin-top: 0.2em !important;
    padding-left: 0.5em !important;
    padding-right: 0.5em !important;
}

/* Fix top right user icon when using a profile image */
.headerUserButtonRound {
    border-radius: 50px !important;
}

/* Improve some menu alignments */

.listItem-indexnumberleft {
    margin: 1em;
}

.listItem {
    padding-left: 1em;
}

.tagline,
.overview {
    text-align: justify;
}

.textActionButton {
    font-weight: bold;
}

/* Media info alignment */
.layout-desktop .mediaInfoStream {
    width: 20vw;
}

.layout-mobile .mediaInfoStream {
    display: block;
}

.layout-mobile .mediaInfoStreamType {
    overflow: scroll;
}

.homeSectionsContainer {
    padding: 0 5vw;
}

/* FIX TITLE SCREEN */
.layout-desktop .detailPagePrimaryContainer {
    display: block;
    position: relative;
    margin: 0;
    width: 40vw;
    left: 5vw;
    height: auto;
}

.detailLogo.hide + .detailPagePrimaryContainer .infoWrapper .detailImageContainer {
    display: block;
    padding-left: 0;
}

.detailImageContainer {
    display: none;
}

.detailPageContent {
    position: relative;
    padding: 0 5vw;
    font-size: 1.3em;
}

.detailPagePrimaryContent {
    max-width: 40vw;
}

.parentName.musicParentName {
    text-align: center;
}

.itemName,
.itemName.infoText.originalTitle {
    text-align: center;
}

.itemMiscInfo {
    margin: 1em 0;
    justify-content: center;
    max-width: 40vw;
}

.mainDetailButtons {
    margin: 0;
    display: flex;
    justify-content: center;
    font-size: 150%;
}
