.mdl-spinner {
    position: relative;
    display: none;
}

.mdlSpinnerActive {
    display: inline-block;
    opacity: .5;
    box-sizing: content-box;
    background: #fff;
    border-color: #1d2635;
    border-style: solid;
    border-width: 1px 1px 25px 1px;
    border-radius: 100%;
    position: relative;
    animation: 3s yinYang linear infinite;
}

.mdlSpinnerActive:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    background: #fff;
    border: 9px solid #1d2635;
    border-radius: 100%;
    width: 6px;
    height: 6px;
    box-sizing: content-box;
}

.mdlSpinnerActive:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    background: #1d2635;
    border: 9px solid #fff;
    border-radius: 100%;
    width: 6px;
    height: 6px;
    box-sizing: content-box;
}

@keyframes yinYang {
    100% {
        transform: rotate(360deg);
    }
}

.docspinner {
    width: 48px;
    height: 24px;
    position: fixed;
    top: 45%;
    right: 45%;
    z-index: 9999999;
    contain: layout style size;
}
